* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C7D5E3;
    color: #63717e;
}

ul, ol, a {
    font-family: monospace;
    text-decoration: none;
}

#header {
    height: 200px;
}

#header, #section, #footer {
    padding: 0 50px 0 50px;
}

#footer {
    text-align: center;
    position: relative;
    top: 190px;
}

.content {
    background-color: aquamarine;
    padding: 50px 50px;
    width: 500px;
    height: 800px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 15px;
    box-shadow: 3px 5px 10px #a5a5a5;
}

.picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #E3B4B1;
    box-shadow: 3px 2px 2px rgba(122, 122, 122, 0.555);
}

.title-name {
    position: relative;
    top: -140px;
    left: 170px;
    background-color: #DEE3B1;
    width: 22px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 2px 2px rgba(122, 122, 122, 0.555);
}

.about-me {
    position: relative;
    top: -100px;
    background-color: #E3B4B1;
    width: 300px;
    padding: 5px;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 3px 2px 2px rgba(122, 122, 122, 0.555);
}

.location {
    background-color: #DEE3B1;
    padding: 1px;
}

.alink {
    position: relative;
    top: -160px;
    left: 200px;
    background-color: #E3B4B1;
    padding: 3px;
    border-radius: 5px;
    width: 63px;
    margin: 0;
    text-decoration: none;
    box-shadow: 3px 2px 2px rgba(122, 122, 122, 0.555); 
    transition: 0.2s;
}

.alink:hover {
    background-color: #da8f89;
}

.p-hard-skills, .p-soft-skills {
    position: relative;
    top: 70px;
    left: 40px;
    text-align: center;
    background-color: #DEE3B1;
    padding: 1px;
    width: 220px;
    border-radius: 5px;
    box-shadow: 3px 2px 2px rgba(122, 122, 122, 0.555);
}

.menus {
    line-height: 20px;
    position: relative;
    top: 70px;
    background-color: #E3B4B1;
    width: 300px;
    padding: 5px;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 3px 2px 2px rgba(122, 122, 122, 0.555); 
    list-style: none;
}

/*.menu {
    background-color: #E3B4B1;
    width: 300px;
    padding: 5px;
    text-align: justify;
    box-shadow: 3px 2px 2px rgba(122, 122, 122, 0.555); 
}

.pmenu {
    background-color: #DEE3B1;
    padding: 1px;
    width: 195px;
    box-shadow: 3px 2px 2px rgba(122, 122, 122, 0.555);
}*/


