* {
    box-sizing: border-box;
}

body {
    background-color: #C7D5E3;
    color: #63717e;
}

.picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px dotted #E3B4B1;
}